# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Run Tests
permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-tests-swift-6_1:
    name: Unit Tests (Swift 6.1 / macOS 15)
    runs-on: macos-15

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Set Xcode Version
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '16.3'
    - name: Show Swift Version
      run: swift --version
    - name: Build
      run: swift build
    - name: Run Unit Tests
      run: swift test --filter PocketBaseTests
    - name: Run Macro Tests
      run: swift test --filter PocketBaseMacrosTests

  unit-tests-swift-6_2:
    name: Unit Tests (Swift 6.2 / macOS 26)
    runs-on: macos-26

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Set Xcode Version
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '26.0'
    - name: Show Swift Version
      run: swift --version
    - name: Build
      run: swift build
    - name: Run Unit Tests
      run: swift test --filter PocketBaseTests
    - name: Run Macro Tests
      run: swift test --filter PocketBaseMacrosTests

